.hero-section {
  height: 80vh;
  padding-top: 5rem;
}

.hero-content {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 100%;
  
}

@media (max-width: 1300px) {
  .nav-bar nav {
    flex: 0 0 70%;
  }

  .hero-content {
    padding: 4rem 2rem 0 3rem;
  }

  .hero-content h1 {
    font-size: 3.4rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 90%;
  }

  .nav-bar nav {
    flex: 0 0 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 850px) {
  #menu-btn {
    display: inline;
  }
  .fa-times {
    transform: rotate(180deg);
  }

  .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--black);

    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  .active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .navbar a {
    display: block;
    font-size: 2rem;
  }

  .hero-content {
    padding-top: 10rem;
  }

  .hero-content h1 {
    font-size: 3rem;
    line-height: 50px;
  }
}

@media (max-width: 767px) {
  .hero-section {
    padding: 0;
  }
  .hero-content {
    background-color: rebeccapurple;
    padding: 8rem 2rem 0 2rem;
  }

  .hero-content h1 {
    font-size: 3rem;
    line-height: 40px;
  }

  .hero-content .hero-text2 {
    width: 100%;
    margin-bottom: 3rem;
  }
}

@media (max-width: 430px) {
  .hero-section {
    padding: 0;
  }

  .hero-content {
    background-color: #303e4d;
    padding: 0 2rem;
    padding-top: 8rem;
  }

  .hero-content .hero-text1 {
    font-size: 0.7rem;
  }

  .hero-content h1 {
    font-size: 2.4rem;
    line-height: 40px;
  }

  .hero-content .hero-text2 {
    font-size: 1.2rem;
    font-weight: 300;
    width: 100%;
    margin-bottom: 3rem;
  }
}
